In [3]:
import pandas as pd
df1 = pd.read_csv("Artworks.csv")
df2 = pd.read_csv("Artists.csv")

In [5]:
import pandas
filenames = ["Artworks.csv", "Artists.csv"] 
df = pandas.DataFrame()
for filename in filenames:
    df = df.append(pandas.read_csv("append_file"))

AttributeError: 'DataFrame' object has no attribute 'append'

In [8]:
import pandas as pd


df1 = pd.read_csv("Artworks.csv")
df2 = pd.read_csv("Artists.csv")


combined_df = pd.concat([df1, df2])


combined_df.to_csv('combined_files.csv')

In [9]:
combined_df.head()

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.),DisplayName,Wiki QID,ULAN
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN,NaN,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN,NaN,NaN,NaN
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,NaN,34.3000,NaN,NaN,31.8000,NaN,NaN,NaN,NaN,NaN
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,NaN,50.8000,NaN,NaN,50.8000,NaN,NaN,NaN,NaN,NaN
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,NaN,38.4000,NaN,NaN,19.1000,NaN,NaN,NaN,NaN,NaN

In [ ]:
import pandas as pd
df = pd.read_csv('combined_df')
artists_after_1940 = df.loc[df['Year'] > 1940, 'Artist']
print(artists_after_1940)

In [16]:
combined_df.loc[(combined_df.Nationality == "American")]

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.),DisplayName,Wiki QID,ULAN
0,NaN,NaN,1,"American, 1930–1992",American,1930,1992,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Robert Arneson,NaN,NaN
2,NaN,NaN,3,"American, born 1941",American,1941,0,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bill Arnold,NaN,NaN
3,NaN,NaN,4,"American, born 1946",American,1946,0,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charles Arnoldi,Q1063584,500027998.0
6,NaN,NaN,7,"American, born 1941",American,1941,0,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bill Aron,NaN,NaN
7,NaN,NaN,9,"American, born Lithuania 1923",American,1923,0,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,David Aronson,Q5230870,500003363.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15230,NaN,NaN,134780,"American, 1825–1910",American,1825,1910,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Samuel Montague Fasset,NaN,NaN
15231,NaN,NaN,134781,"American, 1834–1884",American,1834,1884,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,George Kendall Warren,NaN,NaN
15233,NaN,NaN,134819,"American, born 1987",American,1987,0,Female,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lauren Halsey,NaN,NaN
15239,NaN,NaN,135032,"American, 1942 – 2021",American,1942,2021,Female,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yolanda Lopez,NaN,NaN
15242,NaN,NaN,135298,"American, 1919–2012",American,1919,2012,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,William Theophilius Brown,NaN,NaN

In [18]:
combined_df.iloc[1:5, 2:5]  #[rows,columns]

  ConstituentID                                  ArtistBio Nationality
1          7470                        (French, born 1944)    (French)
2          7605                      (Austrian, 1876–1957)  (Austrian)
3          7056  (French and Swiss, born Switzerland 1944)          ()
4          7605                      (Austrian, 1876–1957)  (Austrian)